body {
  background-color: #f0f3fb;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  height: 100%;
}

.left-sidebar {
  background-color: #282c34;
  color: white;
  padding: 20px;
  height: 300vh;
  display: flex;
  flex-direction: column;
  padding-top: 7%;
}

.sidebar-item {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
}

.sidebar-item:hover {
  background-color: #6053fc;
  color: white;
}

.sidebar-item.active {
  background-color: #6053fc;
  color: white;
}

.dashboard {
  display: flex;
  flex-direction: column;
  height: auto;
  padding-top: 3%;
}

.dashboard-container {
  display: flex;
  flex: 1;
}

.main-content {
  flex: 1;
  padding: 20px;
}

.requestcard {
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe,
    -20px -20px 60px #ffffff;
  margin: 30px auto;
  padding: 10px;
  padding-bottom: 10px;
  padding-bottom: 20px;
  border-radius: 15px;
}

.propertyhader {
  border: 1px solid !important;
  padding: 10px 10px 10px;
  border-radius: 15px;
  font-weight: 600;
  font-size: 18px;
}

.propertytexts {
  border: 1px solid !important;
  border-radius: 15px;
  padding-top: 10px;
}

/* Add this to your stylesheet */

.requestcard-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.requestcard {
  background: #fff;
  border-radius: 8px;
  height: 85%;
  overflow-y: auto;
  width: 100%;
  padding: 20px;
  border-radius: 8px;
  position: relative;
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}

.scrollable-card-content {
  max-height: 100%;
  overflow-y: auto;
}

.profileiamge {
  border-radius: 40px;
  border: 4px solid #6053fc;
  padding: 3px;
  width: 50%;
}

.profiletext {
  font-size: 16px;
  font-weight: 400;
  text-align: start;
  border: 2px solid #D8DADB;
  padding: 5px 20px 2px;
  border-radius: 16px;
}

.profileCard {
  width: 100%;
  height: auto;
  background: #f7f7f7;
  box-shadow: 20px 20px 60px #bebebe,
    -20px -20px 60px #ffffff;
  border-radius: 15px;
  /* padding: 0% 10% 10%; */
}

.profile {
  padding: 0% 10% 10%;
}

.general {
  background: #f7f7f7;
  box-shadow: 20px 20px 60px #bebebe,
    -20px -20px 60px #ffffff;
  border-radius: 15px;
  padding: 5%;
}

.input-box {
  background-color: #ffffff;
  border-radius: 7px;
  padding: 1px 19px 0px;
  box-sizing: border-box;
  position: relative;
  margin-top: 20px;
  border: 2px solid #D8DADB;
  height: 60px;
}

.input-box .lbl {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  display: block;
  color: black;
}

.input-box input[type="text"] {
  padding: 0;
  height: 30px;
  line-height: 30px;
  border: none;
  width: 100%;
  background-color: transparent;
  font-size: 14px;
  border-color: white;
  color: black;
}

.input-box input[type="email"] {
  padding: 0;
  height: 30px;
  line-height: 30px;
  border: none;
  width: 100%;
  background-color: transparent;
  font-size: 14px;
  border-color: white;
  color: black;
}

.aboutpropertyinput-box {
  background-color: #ffffff;
  border-radius: 7px;
  padding: 1px 19px 0px;
  box-sizing: border-box;
  position: relative;
  margin-top: 20px;
  border: 2px solid #D8DADB;
  height: auto;
}

.aboutpropertyinput {
  padding: 0;
  height: auto;
  line-height: 30px;
  border: none;
  width: 100%;
  background-color: transparent;
  font-size: 14px;
  border-color: white;
  color: black;
}

.aboutpropertyinput:focus {
  outline: none;
}

.input:focus {
  outline: none;
}

.Imageinput-box {
  border-radius: 7px;
  padding: 1px 19px 5px;
  box-sizing: border-box;
  position: relative;
  margin-top: 20px;
  height: auto;
}

.Imageinput {
  padding: 0;
  height: auto;
  line-height: 30px;
  border: none;
  width: 100%;
  font-size: 14px;
  color: black;
  padding: 5px 5px;
  appearance: none;
  background-color: transparent;
  border: 2px solid #6053fc;
  border-radius: 7px;
  box-sizing: border-box;
  color: #6053fc;
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  min-height: 10px;
  outline: none;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  will-change: transform;
}

.Imageinput:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  border: 2px solid #6053fc;
  border-radius: 6px;
}

.Imageinput:hover,
.Imageinput:active {
  background-color: initial;
  background-position: 0 0;
  color: #6053fc;
}

.Imageinput:active {
  opacity: .5;
}


.buttonimagecard {
  background: #6053fc;
  padding: 10px 12px;
  appearance: none;
  border: none;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  min-height: auto;
  width: 100%;
  outline: 0;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.buttonimagecard:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  border: 2px solid #6053fc;
  border-radius: 6px;
}

.buttonimagecard:hover,
.buttonimagecard:active {
  background-color: initial;
  background-position: 0 0;
  color: #6053fc;
}

.buttonimagecard:active {
  opacity: .5;
}


.buttonuser {
  padding: 10px 12px;
  appearance: none;
  background-color: transparent;
  border: 2px solid #6053fc;
  border-radius: 7px;
  box-sizing: border-box;
  color: #6053fc;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  line-height: 16px;
  min-height: 10px;
  width: auto;
  outline: none;

  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  will-change: transform;
}

.buttonuser:disabled {
  pointer-events: none;
}

.buttonuser:hover {
  color: #fff;
  background-color: #6053fc;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.buttonuser:active {
  box-shadow: none;
  transform: translateY(0);
}

/* dashboard.css */

.property-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border-radius: 16%;
}

.property-table th,
.property-table td {
  /* border: 1px solid #6053fc; */
  padding: 8px;
  text-align: left;
}

/* .property-table th {
  border-radius: 15px;
} */

.property-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* .property-table tr:hover {
  background-color: #ddd;
} */

.propertytablecard .card-body {
  background: #f7f7f7;
  box-shadow: 20px 20px 60px #bebebe,
    -20px -20px 60px #ffffff;
  border-radius: 15px;
  padding: 0px;
}

.notification-container {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

.delete-button {
  margin-top: 10px;
  background-color: #ff3333;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #cc0000;
}

.checkbox-container {
  position: absolute;
  top: 10px;
  left: 10px;
}

.checkbox-label {
  display: block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 10px;
}

.checkbox-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.checkbox-input:checked+.checkmark:after {
  content: '\2713';
  font-size: 14px;
  color: #333;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.notification-item {
  border-bottom: 1px solid #ddd;
  position: relative;
  cursor: pointer;
}

.notification-link {
  text-decoration: none;
  color: #333;
}

.notification-header.unseen {
  font-weight: bold;
}

.notification-header.seen {
  font-weight: normal;
}

.notification-item:hover {
  background-color: #f5f5f5;
}

.notification-header {
  display: flex;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  color: black;
}

.notification-header:hover {
  color: black;
}

.notification-sender {
  flex: 0.5;
  text-align: center;
  padding-left: 23px;
  text-decoration: none;
  color: black;
}

.notificationdetails-sender {
  padding-left: 23px;
  text-decoration: none;
  font-size: 15px;
  color: black;
}

.notification-subject {
  flex: 2;
  margin: 0 10px;
}

.notification-date {
  flex: 1;
  color: #888;
  font-size: 12px;
}

.notificationdetails-date {
  color: #888;
  font-size: 13px;
  padding-left: 23px;
}

.notification-body {
  padding: 10px;
  background-color: #f9f9f9;
}

.notificationdetails-message {
  padding: 10px;
  font-size: 17px;
  padding-left: 23px;
}

.PropertyInfodetails-message {
  padding: 10px;
  font-size: 20px;
  padding-left: 23px;

}

@media (max-width: 600px) {
  .notification-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .notification-subject {
    margin-top: 5px;
  }
}

@media not screen and (min-width: 992px) {
  .left-sidebar {
    padding-top: 30%;
  }

}